services:
  nats:
    image: myelophone/nats:latest
    build: .
    ports:
      - 4222:4222
      #- 127.0.0.1:6222:6222
      - 127.0.0.1:8222:8222
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --http_port 8222 --user ${NATS_USER} --pass ${NATS_PASSWORD} --jetstream --store_dir=/data/jetstream --server_name nats1 --routes=nats://${NATS_USER}:${NATS_PASSWORD}@nats2:6223,nats://${NATS_USER}:${NATS_PASSWORD}@nats3:6224"
    networks: ["nats-network"]
    restart: unless-stopped
    volumes:
      - nats1-data:/data/jetstream
  nats2:
    image: myelophone/nats:latest
    ports:
      - 4223:4222
      #- 127.0.0.1:6223:6223
      - 127.0.0.1:8223:8222
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6223 --routes=nats://${NATS_USER}:${NATS_PASSWORD}@nats:6222,nats://${NATS_USER}:${NATS_PASSWORD}@nats3:6224 --jetstream --store_dir=/data/jetstream --server_name nats2"
    networks: ["nats-network"]
    depends_on: ["nats"]
    restart: unless-stopped
    volumes:
      - nats2-data:/data/jetstream
  nats3:
    image: myelophone/nats:latest
    ports:
      - 4224:4222
      #- 127.0.0.1:6224:6224
      - 127.0.0.1:8224:8222
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6224 --routes=nats://${NATS_USER}:${NATS_PASSWORD}@nats:6222,nats://${NATS_USER}:${NATS_PASSWORD}@nats2:6223 --jetstream --store_dir=/data/jetstream --server_name nats3"
    networks: ["nats-network"]
    depends_on: ["nats"]
    restart: unless-stopped
    volumes:
      - nats3-data:/data/jetstream

networks:
  nats-network:
    name: nats-network

volumes:
  nats1-data:
  nats2-data:
  nats3-data:
